#ServicesInfo{
    width: 100vw;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.serviceContainer{
    width: 90vw;
    height: 80vh;
    /* background-color: rgb(220, 0, 0); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.serviceImg{
    width: 60%;
    height: 90%;
    border-radius: 10px 0 0 10px;
    margin-left: 0;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
}
.serviceInfo{
    background-color: white;
    border-radius: 0 10px 10px 0;
    width: 40%;
    height: 90%;
    margin-top: 0;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
    color: rgb(30, 30, 30);
    font-size: 150%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.serviceImgD{
    width: 60%;
    height: 90%;
    border-radius: 0 10px 10px 0;
    margin-left: 0;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
}
.serviceInfoD{
    background-color: white;
    border-radius: 10px 0 0 10px;
    width: 40%;
    height: 90%;
    margin-top: 0;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.serviceInfoD h1{
    font-size: 4vw;
}
.serviceInfoD h2{
    font-size: 2vw;
}
.serviceInfo h1{
    font-size: 4vw;
}
.serviceInfo h2{
    font-size: 2vw;
}

@media(max-width:1000px){
    #ServicesInfo{
        padding-top: 10vh;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .serviceContainer{
        width: 95vw;
        height: 35vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2vw;
    }

    .serviceContainerD{
        width: 95vw;
        height: 40vh;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .serviceInfo{
        border-radius: 0 10px 10px 0;
        width: 90%;
        height: 15%;
        margin-top: 0;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
        color: rgb(30, 30, 30);
        font-size: 150%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .serviceImg{
        width: 90%;
        height: 90%;
        border-radius: 10px 0 0 10px;
        margin-left: 0;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
    }
    .serviceInfoD{
        border-radius: 10px 0 0 10px;
        width: 40%;
        height: 90%;
        margin-top: 0;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .serviceImgD{
        width: 60%;
        height: 90%;
        border-radius: 0 10px 10px 0;
        margin-left: 0;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
    }
}