@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

:root {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;
  height: 100vh;
  width: 100vw;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: start;
  min-height: 100vh;
  width: 100vw;
  /* overflow-x: hidden; */
  
}

