#NavContainer{
    background-color: rgba(0,111,203,0.8);
    width: 100vw;
    height: 10vh;
    margin: 0;
    display: flex;
    position: fixed;
    backdrop-filter: blur(5px);
    z-index: 3;
}
#Logo{
    height: 100%;
    width: auto;
}