#NavContainer{
    backdrop-filter: blur(5px);
    background-color: rgba(0,111,203,0.8);
    width: 100vw;
    height: 10vh;
    margin: 0;
    padding: 0;
    display: flex;
    position: fixed;
    z-index: 3;
}
#Logo{
    height: 100%;
    width: auto;
    margin-right:auto;
}
.NavComponent{
    height: 100%;
    width: 10%;
    border-left: solid 2px rgba(255, 255, 255,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5vw;
    transition: 0.2s;
}

.NavComponent a{
    text-decoration: none;
    color: white;
}

.NavComponentLink{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.NavComponent:hover{
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    color: black;
}
.NavComponentLink:hover{
    color: black;
}
.NavComponent .active{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.5s;
    text-decoration: none;
    color: black;
}

.NavComponentoff{
    height: 100%;
    width: 10%;
    border-left: solid 2px rgba(255, 255, 255,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5vw;
    transition: 0.2s;
}

.NavComponentoff a{
    text-decoration: none;
    color: white;
}

.NavComponentoff:hover{
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.7);
    /* background-color: rebeccapurple; */
    color: black;
    
}
.NavComponentoff .active{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* backdrop-filter: blur(5px); */
    /* background-color: rgba(255, 255, 255, 0.7); */
    color: white;
    transition: 0.5s;
    text-decoration: none;
}

@media (max-width:1000px){

    #NavContainer{
        width: 100vw;
        height: 6vh;
        z-index: 3;
    }
    #Logo{
        height: 100%;
        width: auto;
        margin-right:auto;
    }
    .NavComponent{
        height: 100%;
        width: 16%;
        border-left: solid 2px rgba(255, 255, 255,0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 2.9vw;
        transition: 0.2s;
    }
    .NavComponentoff{
        height: 100%;
        width: 16%;
        border-left: solid 2px rgba(255, 255, 255,0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 2.9vw;
        transition: 0.2s;
    }

}