#HomeContainer{
    background-color:white;
    padding: 0;
    margin: 0;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    z-index: -1;
    overflow-x: hidden;
}

.slider{
    width: 100%;
    margin-top: 0;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 0.5s;
}
.slider .list img{
    width: 100vw;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.slideInfo{
    position: absolute;
    background-color: rgba(10, 10, 10, 0.6);
    backdrop-filter: blur(15px);
    height: 20vh;
    width: 100vw;
    top:80vh;
    z-index: 1;
    display: flex;
    font-size: 6vh;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.slider .buttons{
    position: absolute;
    top: 30vh;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slider .buttons button{
    width: 50px;
    height: 250px;
    border-radius: 0 10px 10px 0;
    background-color: rgba(230, 230, 230, 0.5);
    backdrop-filter: blur(10px);
    color: black;
    font-weight: bold;
    font-size: 35px;
    transition: 0.3s;
    border: none;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
}
.buttons #next{
    border-radius: 10px 0 0 10px;
}
.buttons button:hover{
    background-color: rgba(250,250,250,0.9);
}
.buttons button:active{
    transition: 0.1s;
    background-color: rgba(5,5,5,0.8);
    color: white;
}
/**---------------------------------*/
.slider .dots{
    position: absolute;
    bottom: 5px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    z-index: 2;
}
.slider .dots li{
    list-style: none;
    width: 15px;
    height: 15px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.slider .dots li.active{
    width: 50px;
    background-color: rgba(250,250,250,1);
}

.box{
    width: 100vw;
    height: 80vh;
    background-color: white;
    margin: 0;
    padding: 0;
}

@media (max-width: 1000px) and (orientation: portrait){
    .slider{
        height: 100vw;
    }
    .slider .buttons button{
    width: 10vw;
    height: 35vw;
    /* border-radius: 0 10px 10px 0; */
    /* background-color: rgba(230, 230, 230, 0.5); */
    /* backdrop-filter: blur(10px); */
    /* color: black; */
    /* font-weight: bold; */
    /* font-size: 35px; */
    /* transition: 0.3s; */
    /* border: none; */
    /* font-family: monospace; */
    /* font-weight: bold; */
    /* cursor: pointer; */
}
.slider .buttons{
    position: absolute;
    top: 38vw;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.slideInfo{
    top:80vw;
    height: 25vw;
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 6vw;
    padding-top: 4vw;
}
}