#MapsContainer{
    height: 80vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.map{
    border-radius: 15px;
    width: 50vw;
    height: 80%;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    height: 80%;
}
.Como{
    font-size: 3.8vw;
    padding: 0;
    margin:0;
    margin-bottom: 5%;
}
.ubicationInfo{
    background-color: rgb(242, 242, 242);
    width: 40vw;
    height: 30%;
    color: black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0%;
    box-sizing: border-box;
    font-size: 1.05vw;
    margin: 0;
}
.ubicationInfo h1{
    margin: 0;
    padding: 0;
    text-align: start;

}
.ubicationInfo h2{
    margin: 0;
    padding: 0;
    text-align: start;

}

.line{
    width: 95%;
    height: 3%;
    background-color: rgba(0,111,203,0.8);
    border-radius: 10px;
    padding: 0;
    margin: 0;
}

@media(max-width:1000px)and (orientation: portrait) {
    #MapsContainer{
        height: 80vh;
        width: 100vw;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: space-around;
        padding-bottom: 4vw;
    }
    .Como{
        font-size: 9vw;
        padding: 0;
        margin:0;
        margin-bottom: 5%;
    }
    .map{
        border-radius: 15px;
        width: 92vw;
        height: 80%;
    }
    .ubicationInfo{
        width: 92vw;
        height: 30%;
        font-size: 2.3vw;
        margin: 0;
    }
}